.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}


.divButtons {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  gap: 10px;
}

.divButtons > button { 
  width: 70%;
  height: 45px;
  border-radius: 6px;
}