.selectCampo {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 80%;
}

.selectCampo > label {
  width: 100%;
}

#respostasSelect {
  width: 100%;
  height: 35px;
  padding: 0 5px;
  border-radius: 5px;
  outline: none;
}
